.allegees {
  height: 92vh;
  background-image: url("../images/atelier-de-fabrication-Régis-Bozon-©OT-Thônes-CDV-30-1200x800.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top 20% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.allegees .allegees-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.allegees .desc {
  position: absolute;
  width: 40%;
  text-align: center;
  top: 10%;
  left: 10%;
  line-height: 1.4;
}
.allegees .desc h2 {
  margin-top: 6%;
}
.allegees button {
  position: absolute;
  bottom: 16vh;
  left: 35vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.allegees button:hover {
  background-color: rgb(92, 31, 31);
}
.allegees a button {
  color: white;
}
.allegees img {
  position: absolute;
  width: 34%;
  height: 80%;
  top: 5%;
  right: 2%;
  border-radius: 12px;
}
.allegees .allegees_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 37px;
  width: 26%;
  right: 6%;
  top: 22%;
  font-family: "futuristic";
}
.allegees .allegees_items li {
  text-align: center;
  margin-bottom: 18%;
  line-height: 1.4;
  transition: 0.3s;
}
.allegees .allegees_items li:hover {
  color: rgb(70, 164, 77);
}
@media screen and (min-width: 1580px) {
  .allegees .allegees_items {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 1024px) {
  .allegees {
    height: 75vh;
  }
  .allegees .desc h1 {
    font-size: 2rem;
  }
  .allegees .desc h2 {
    font-size: 1.5rem;
  }
  .allegees button {
    left: 20vw;
    bottom: 10vh;
  }
  .allegees img {
    height: 30vh;
  }
  .allegees .allegees_items {
    font-size: 1.5rem;
    right: 6%;
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .allegees {
    height: 70vh;
  }
  .allegees .desc {
    left: 6%;
  }
  .allegees .desc h1 {
    font-size: 1rem;
  }
  .allegees .desc h2 {
    font-size: 0.8rem;
  }
  .allegees button {
    padding: 15px 20px;
    font-size: 0.8rem;
    left: 10vw;
  }
  .allegees img {
    top: 10%;
    width: 40%;
    height: 30vh;
  }
  .allegees .allegees_items {
    top: 15%;
    font-size: 0.9rem;
    right: 8%;
  }
  .allegees .allegees_items li {
    margin-bottom: 25%;
  }
}
