.allegees {
  height: 115vh;
  background-image: url("../images/IMG_sag.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top 50% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.allegees .allegees-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.allegees .desc {
  position: absolute;
  width: 40%;
  text-align: center;
  top: 10%;
  left: 10%;
  line-height: 1.4;
}
.allegees .desc h2 {
  margin-top: 6%;
}
.allegees button {
  position: absolute;
  bottom: 40vh;
  right: 30vw;
  background-color: rgb(151, 45, 45);
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
  color: white;
}
.allegees button:hover {
  background-color: rgb(92, 31, 31);
}
.allegees img {
  position: absolute;
  width: 27%;
  height: 445px;
  top: 5%;
  right: 2%;
  border-radius: 12px;
}
.allegees .allegees_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 28px;
  width: 26%;
  right: 3.3%;
  top: 15%;
  font-family: "futuristic";
}
.allegees .allegees_items li {
  text-align: center;
  margin-bottom: 18%;
  line-height: 1.4;
  transition: 0.3s;
}
.allegees .allegees_items li:hover {
  color: rgb(70, 164, 77);
}
@media screen and (min-width: 1580px) {
  .allegees .allegees_items {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .allegees {
    height: 75vh;
    background-position: top -100px right;
  }
  .allegees .desc h1 {
    font-size: 2rem;
  }
  .allegees button {
    bottom: 35vh;
  }
  .allegees img {
    height: 330px;
    width: 29%;
  }
  .allegees .allegees_items {
    font-size: 21px;
    right: 3.5%;
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .allegees {
    height: 70vh;
    background-position: top -70px right;
  }
  .allegees .desc {
    left: 6%;
  }
  .allegees .desc h1 {
    font-size: 1rem;
  }
  .allegees button {
    padding: 5px 8px;
    width: 40%;
    font-size: 0.8rem;
    line-height: 1.4;
    right: 2vw;
    bottom: 27vh;
  }
  .allegees img {
    top: 10%;
    width: 40%;
    height: 218px;
  }
  .allegees .allegees_items {
    top: 15%;
    font-size: 0.9rem;
    right: 8%;
  }
  .allegees .allegees_items li {
    margin-bottom: 25%;
  }
}
