.arti_250g {
  height: 600px;
  background-image: url("../images/250 nature.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: top 20% right;
  position: relative;
  color: #f4ead8;
}
.arti_250g .artisanale_250_cover {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.arti_250g h1 {
  position: absolute;
  font-size: 62px;
  top: 10%;
  left: 20px;
}
.arti_250g h2 {
  position: absolute;
  bottom: 30%;
  right: 20px;
}
.arti_400g {
  height: 600px;
  background-image: url("../images/hg 300-400.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: top 20% right;
  position: relative;
  color: #f4ead8;
}
.arti_400g .artisanale_400_cover {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.arti_400g h1 {
  position: absolute;
  font-size: 62px;
  top: 10%;
  left: 20px;
}
.arti_400g h2 {
  position: absolute;
  bottom: 30%;
  right: 20px;
}
.arti_courbe {
  height: 600px;
  background-image: url("../images/coubre.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: top 8% right;
  position: relative;
  color: #f4ead8;
}
.arti_courbe .artisanale_courbe_cover {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.arti_courbe h1 {
  position: absolute;
  font-size: 62px;
  top: 10%;
  left: 20px;
}
.arti_courbe h2 {
  position: absolute;
  bottom: 30%;
  right: 20px;
}
.arti_700 {
  height: 600px;
  background-image: url("../images/7-800 Arti.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: top 20% right;
  position: relative;
  color: #f4ead8;
}
.arti_700 .artisanale_700_cover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.arti_700 h1 {
  position: absolute;
  font-size: 62px;
  top: 10%;
  left: 20px;
}
.arti_700 h2 {
  position: absolute;
  bottom: 30%;
  right: 20px;
}
