.artisanale {
  margin-top: 165px;
  height: 95vh;
  background-image: url("../images/atelier-de-fabrication-Régis-Bozon-©OT-Thônes-CDV-30-1200x800.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top 20% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.artisanale .artisanale-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.artisanale .desc {
  position: absolute;
  width: 655px;
  text-align: center;
  top: 86px;
  left: 10%;
}
.artisanale .desc h2 {
  margin-top: 32px;
}
.artisanale button {
  position: absolute;
  bottom: 115px;
  left: 556px;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.artisanale button:hover {
  background-color: rgb(92, 31, 31);
}
.artisanale a button {
  color: white;
}
.artisanale img {
  position: absolute;
  width: 600px;
  height: 510px;
  top: 5%;
  right: 35px;
}
.artisanale ul {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 34px;
  right: 135px;
  top: 105px;
  font-family: "futuristic";
}
.artisanale ul li {
  margin-bottom: 55px;
  line-height: 1.2;
  transition: 0.3s;
}
.artisanale ul li:hover {
  cursor: pointer;
  color: rgb(70, 164, 77);
}

.modal-saucisson .modal-content img {
  width: 900px;
  border-radius: 8px;
  height: 950px;
  margin: 0 auto;
}
