.bondownload {
  display: flex;
  width: 300px;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  margin: 35px 35px;
  background-color: #f8f8f8;
  color: black;
  transition: 0.3s;
}
.bondownload:hover {
  background-color: #d8d8d8;
}
.bondownload img {
  width: 46px;
  height: 46px;
}
.bondownload .desc {
  margin-left: 15px;
  width: 200px;
  font-size: 20px;
}
.bondownload .material-symbols-outlined {
  font-size: 36px;
  margin-left: 33px;
}
