.orders {
  padding-top: 165px;
  padding-bottom: 10px;
  position: relative;
  background-color: #b9c9b4;
}
.orders .user_info {
  width: 650px;
  margin: 99px auto;
}
.orders .user_info p {
  font-size: 32px;
  margin-bottom: 65px;
  padding: 15px 20px;
  background-color: #fafaf2;
  border-radius: 8px;
  text-align: center;
  color: #696767;
}
.orders .user_info .nom-prenom {
  display: flex;
}
.orders .user_info .nom-prenom .mb-3 {
  width: 315px;
}
.orders .user_info .nom-prenom .mb-3:last-child {
  margin-left: 20px;
}
.orders .user_orders {
  width: 1100px;
  margin: 0 auto 86px auto;
  position: relative;
  background-color: #fafaf2;
  padding: 100px 30px;
  border-radius: 20px;
}
.orders .user_orders label {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(47, 47, 149, 0.3);
  width: 708px;
  font-size: 22px;
  text-align: center;
  border-radius: 8px;
  padding: 25px 25px;
  top: 35px;
  left: 50%;
  margin-left: calc(708px / -2);
  transition: 0.4s;
}
.orders .user_orders label:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 4px rgba(47, 47, 149, 0.3);
}
.orders .user_orders input {
  display: none;
}
.orders .user_orders > button {
  position: absolute;
  width: 150px;
  height: 47px;
  bottom: 20px;
  right: 20px;
  background-color: #59c064;
  border: 0;
  font-size: 22px;
}
.orders .user_orders > button > div {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: calc(40px / -2);
}
.orders .user_orders > button:hover {
  background-color: #428b49;
}
.orders .user_orders > button:active {
  background-color: #428b49;
}
.orders .user_orders .calendar {
  margin-top: 86px;
  position: relative;
}
.orders .user_orders .calendar p {
  font-size: 23px;
  text-align: center;
  font-weight: 700;
}
.orders .user_orders .calendar .example-custom-input {
  position: absolute;
  font-size: 22px;
  width: 280px;
  padding: 20px 30px;
  text-align: center;
  border-radius: 8px;
  background-color: #f5fff2;
  bottom: -86px;
  left: 17vw;
}
.orders .user_orders .calendar .react-datepicker__day--outside-month {
  color: rgba(91, 135, 75, 0.692);
}
