.orders {
  margin-top: 99px;
  position: relative;
}
.orders .user_info {
  width: 650px;
  margin: 150px auto;
}
.orders .user_info p {
  font-size: 36px;
  margin-bottom: 65px;
}
.orders .user_orders {
  width: 1100px;
  margin: 0 auto 186px auto;
  position: relative;
}
.orders .user_orders p {
  font-size: 36px;
  margin-bottom: 65px;
}
.orders .user_orders .mb-3 {
  position: relative;
}
.orders .user_orders .mb-3 label {
  font-size: 27px;
  text-align: center;
  width: 450px;
  position: absolute;
  top: -135px;
  left: 50%;
  margin-left: calc(450px / -2);
}
.orders .user_orders .mb-3 input {
  width: 600px;
  margin: 255px auto 0 auto;
  background-color: #eeffd6;
  font-size: 20px;
}
.orders .user_orders > button {
  position: absolute;
  width: 150px;
  height: 47px;
  bottom: -26px;
  right: 0;
  background-color: #59c064;
  border: 0;
  font-size: 22px;
}
.orders .user_orders > button:hover {
  background-color: #428b49;
}
.orders .user_orders > button:active {
  background-color: #428b49;
}
.orders .user_orders .calendar {
  margin-top: 56px;
  position: relative;
}
.orders .user_orders .calendar p {
  font-size: 23px;
  text-align: center;
  font-weight: 700;
}
.orders .user_orders .calendar .example-custom-input {
  position: absolute;
  font-size: 22px;
  text-align: center;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #f5fff2;
  bottom: -26px;
  left: 17vw;
}
.orders .user_orders .calendar .react-datepicker__day--outside-month {
  color: rgba(91, 135, 75, 0.692);
}
