.contact-nous {
  background-color: white;
  padding: {
    top: 1.5%;
    left: 15%;
    right: 15%;
    bottom: 10%;
  }
  form {
    background-color: rgb(226, 232, 226);
    padding: 3% 15% 1%;
    border-radius: 8px;
    max-width: 1150px;
    margin: 0 auto;
    .nom-prenom-number {
      display: flex;
    }
  }
  > button {
    display: block;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(91, 160, 224);
    width: 60%;
    padding: 15px 0;
    border-radius: 8px;
    margin: 1% auto;
    &:hover {
      background-color: rgb(87, 137, 184);
    }
  }
}
