.contact-nous {
  position: relative;
  padding-top: 99px;
}
.contact-nous .contact-bg {
  margin: 75px 240px;
  padding: 125px 0 55px 0;
  border-radius: 8px;
  background-color: rgb(248, 249, 250);
}
.contact-nous .contact-bg form {
  width: 400px;
  margin: 0 auto;
}
.contact-nous .contact-bg form input {
  height: 45px;
}
