.cuires {
  height: 120vh;
  background-image: url("../images/cuire_photp_plus_left.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105%;
  background-position: top 20% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.cuires .cuires-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.cuires .desc {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 55%;
  left: 2%;
  line-height: 1.4;
}
.cuires .desc h1 {
  font-size: 2rem;
}
.cuires button {
  position: absolute;
  bottom: 40vh;
  left: 35vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.cuires button:hover {
  background-color: rgb(92, 31, 31);
}
.cuires a button {
  color: white;
}
.cuires img {
  position: absolute;
  width: 34%;
  height: 85%;
  top: 5%;
  right: 2%;
  border-radius: 12px;
}
.cuires .cuires_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 37px;
  width: 25%;
  right: 6%;
  top: 12%;
  font-family: "futuristic";
}
.cuires .cuires_items li {
  text-align: center;
  margin-bottom: 16%;
  line-height: 1.4;
  transition: 0.3s;
}
.cuires .cuires_items li:hover {
  color: rgb(70, 164, 77);
}
@media screen and (min-width: 1580px) {
  .cuires .cuires_items {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .cuires {
    height: 75vh;
    background-size: cover;
    background-position: top 50px right 40%;
  }
  .cuires .desc {
    top: 85%;
  }
  .cuires .desc h1 {
    font-size: 1.5rem;
  }
  .cuires button {
    left: 40vw;
    bottom: 5vh;
  }
  .cuires img {
    height: 62%;
  }
  .cuires .cuires_items {
    font-size: 1.5rem;
    right: 6%;
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .cuires {
    height: 70vh;
    background-position: top 30px left 30%;

  }
  .cuires .desc {
    top: 70%;
    width: 40%;
    left: 4%;
  }
  .cuires .desc h1 {
    font-size: 1rem;
  }
  .cuires .desc h2 {
    font-size: 0.8rem;
  }
  .cuires button {
    padding: 15px 20px;
    font-size: 0.8rem;
    left: 10vw;
  }
  .cuires img {
    width: 40%;
    height: 340px;
  }
  .cuires .cuires_items {
    font-size: 0.9rem;
    right: 8%;
  }
  .cuires .cuires_items li {
    margin-bottom: 30%;
  }
}
