.cuires {
  height: 115vh;
  background-image: url("../images/cuire_photp_plus_left.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105%;
  background-position: top 20% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.cuires .cuires-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.cuires .desc {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 55%;
  left: 2%;
  line-height: 1.4;
}
.cuires .desc h1 {
  font-size: 2rem;
}
.cuires .first_a button {
  position: absolute;
  bottom: 37vh;
  left: 12vw;
  background-color: rgb(151, 45, 45);
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
  color: white;
}
.cuires a:last-child button {
  position: absolute;
  bottom: 40vh;
  right: 30vw;
  background-color: rgb(151, 45, 45);
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
  color: white;
}
.cuires button:hover {
  background-color: rgb(92, 31, 31);
}
.cuires img {
  position: absolute;
  width: 27%;
  height: 460px;
  top: 5%;
  right: 2%;
  border-radius: 12px;
}
.cuires .cuires_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 28px;
  width: 25%;
  right: 3.3%;
  top: 10%;
  font-family: "futuristic";
}
.cuires .cuires_items li {
  text-align: center;
  margin-bottom: 14%;
  line-height: 1.4;
  transition: 0.3s;
}
.cuires .cuires_items li:hover {
  color: rgb(70, 164, 77);
}
@media screen and (min-width: 1580px) {
  .cuires .cuires_items {
    font-size: 30px;
  }
  .cuires img {
    height: 515px;
  }
}
@media screen and (max-width: 1024px) {
  .cuires {
    height: 75vh;
    background-size: cover;
    background-position: top 50px right 40%;
  }
  .cuires .desc {
    top: 85%;
  }
  .cuires .desc h1 {
    font-size: 1.5rem;
  }
  .cuires button {
    bottom: 13vh;
    font-size: 1.3rem;
    padding: 20px 15px;
  }
  .cuires img {
    height: 380px;
  }
  .cuires .cuires_items {
    font-size: 21px;
    right: 3.5%;
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .cuires {
    height: 70vh;
    background-position: top 30px left 30%;
  }
  .cuires .desc {
    top: 70%;
    width: 40%;
    left: 4%;
  }
  .cuires .desc h1 {
    font-size: 1rem;
  }
  .cuires button {
    padding: 5px 8px;
    font-size: 0.8rem;
    line-height: 1.4;
    width: 40%;
    right: 2vw;
  }
  .cuires img {
    width: 40%;
    height: 340px;
  }
  .cuires .cuires_items {
    font-size: 0.9rem;
    right: 8%;
  }
  .cuires .cuires_items li {
    margin-bottom: 30%;
  }
}
