.detail_commande {
  position: relative;
  padding: 165px 0;
  white-space: pre-line;
  background-color: #b9c9b4;
}
.detail_commande > p {
  font-size: 24px;
  margin-top: 35px;
  text-align: center;
}
.detail_commande > div {
  display: flex;
  justify-content: center;
}
.detail_commande .download {
  background-color: #fb6161;
  border-radius: 4px;
  color: #fcfedc;
  margin: 0;
}
.detail_commande .download .desc {
  font-size: 23px;
}
.detail_commande .excel_date {
  margin: 89px 490px 0 45px;
  max-width: 670px;
}
.detail_commande .excel_date .commande_number {
  background-color: #fafaf2;
  margin-bottom: 85px;
  padding: 15px;
  border-radius: 8px;
}
.detail_commande .excel_date .commande_number > div {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.detail_commande .excel_date .commande_number > div:first-child {
  margin-bottom: 55px;
}
.detail_commande .excel_date .commande_number > div p {
  font-size: 26px;
  margin-right: 55px;
}
.detail_commande .excel_date .commande_number > div:nth-child(2) {
  margin-bottom: 55px;
}
.detail_commande .excel_date .commande_number > div:nth-child(2) p {
  margin-right: 95px;
}
.detail_commande .excel_date .commande_number > div:nth-child(3) {
  margin-bottom: 55px;
}
.detail_commande .excel_date .commande_number > div:nth-child(3) p {
  font-size: 22px;
}
.detail_commande .excel_date .commande_number > div:last-child p {
  font-size: 22px;
}
.detail_commande .excel_date .commande_number > div:last-child h3 {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  margin-left: 55px;
}
.detail_commande .excel_date .commande_number > div:last-child .mb-3 {
  display: flex;
}
.detail_commande .excel_date .commande_number > div:last-child .mb-3 input {
  margin-right: 25px;
}
.detail_commande .excel_date .excel {
  margin-bottom: 85px;
  background-color: #fafaf2;
  padding: 35px;
  border-radius: 8px;
}
.detail_commande .excel_date .excel p {
  font-size: 26px;
  margin-bottom: 35px;
}
.detail_commande .excel_date .excel .client_download {
  display: flex;
  align-items: flex-end;
}
.detail_commande .excel_date .excel .client_download button {
  margin-left: 35px;
  height: 56px;
  color: white;
}
.detail_commande .excel_date .excel .client_upload {
  display: flex;
  align-items: flex-end;
}
.detail_commande .excel_date .excel .client_upload label {
  font-family: "Noto Serif", serif;
  background-color: white;
  border: 1px solid rgba(47, 47, 149, 0.3);
  border-radius: 8px;
  width: 413px;
  padding: 10px 15px;
  font-size: 22px;
  margin-right: 55px;
  line-height: 1.4;
  text-align: center;
  transition: 0.4s;
}
.detail_commande .excel_date .excel .client_upload label:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 4px rgba(47, 47, 149, 0.3);
}
.detail_commande .excel_date .excel .client_upload input {
  display: none;
}
.detail_commande .excel_date .excel .client_upload button {
  height: 45px;
}
.detail_commande .excel_date .excel .client_upload button:last-child {
  margin-left: 15px;
}
.detail_commande .excel_date .date {
  background-color: #fafaf2;
  padding: 15px;
  border-radius: 8px;
}
.detail_commande .excel_date .date p {
  font-size: 26px;
  margin-bottom: 35px;
}
.detail_commande .excel_date .date .date_commande {
  font-size: 32px;
  display: flex;
}
.detail_commande .excel_date .date .date_commande h3 {
  margin-right: 295px;
}
.detail_commande .excel_date .date .date_commande > button {
  height: 56px;
}
.detail_commande .excel_date .date .date_change {
  display: flex;
}
.detail_commande
  .excel_date
  .date
  .date_change
  .react-datepicker__day--outside-month {
  color: rgba(91, 135, 75, 0.692);
}
.detail_commande .excel_date .date .date_change input {
  width: 205px;
}
.detail_commande .excel_date .date .date_change button {
  margin-left: 15px;
}
.detail_commande .commande_adresse {
  position: relative;
  margin-top: 89px;
  background-color: #fafaf2;
  padding: 135px 35px 35px 35px;
  border-radius: 8px;
}
.detail_commande .commande_adresse .commande_name {
  margin-bottom: 65px;
}
.detail_commande .commande_adresse .commande_name p {
  font-size: 16px;
  margin-bottom: 25px;
}
.detail_commande .commande_adresse .commande_name .commande_nom {
  font-size: 22px;
}
.detail_commande .commande_adresse .commande_name .commande_prenom {
  font-size: 22px;
}
.detail_commande .commande_adresse .adresse {
  margin-bottom: 65px;
}
.detail_commande .commande_adresse .adresse p {
  font-size: 16px;
  margin-bottom: 25px;
}
.detail_commande .commande_adresse .adresse h3 {
  font-size: 22px;
}
.detail_commande .commande_adresse .entreprise {
  margin-bottom: 65px;
}
.detail_commande .commande_adresse .entreprise p {
  font-size: 16px;
  margin-bottom: 25px;
}
.detail_commande .commande_adresse .entreprise h3 {
  font-size: 22px;
}
.detail_commande .commande_adresse .email {
  margin-bottom: 65px;
}
.detail_commande .commande_adresse .email p {
  font-size: 16px;
  margin-bottom: 25px;
}
.detail_commande .commande_adresse .email h3 {
  font-size: 22px;
}
.detail_commande .commande_adresse .phonenumber p {
  font-size: 16px;
  margin-bottom: 25px;
}
.detail_commande .commande_adresse .phonenumber h3 {
  font-size: 22px;
}
.detail_commande .commande_adresse > button {
  position: absolute;
  width: 150px;
  top: 35px;
  left: 50%;
  margin-left: calc(150px / -2);
}
.detail_commande .commande_adresse form > .buttons {
  position: absolute;
  display: flex;
  top: 35px;
  left: 35px;
}
.detail_commande .commande_adresse form > .buttons button {
  width: 120px;
}
.detail_commande .commande_adresse form > .buttons button:last-child {
  margin-left: 15px;
  width: 80px;
}
.detail_commande > button {
  position: absolute;
  border: none;
  color: #fafaf2;
  border-radius: 12px;
  padding: 1em 0.8em;
  background-color: #b71919;
  font-size: 22px;
  left: 5%;
  bottom: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.detail_commande > button:hover {
  background-color: #731414;
}
.detail_commande > h3 {
  position: absolute;
  font-size: 1.1em;
  bottom: 42px;
  left: 25%;
}
