.download {
  display: flex;
  width: 400px;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  margin: 65px 35px;
  background-color: #f8f8f8;
  color: black;
  transition: 0.3s;
}
.download:hover {
  background-color: #d8d8d8;
}
.download img {
  width: 86px;
  height: 86px;
}
.download .desc {
  margin-left: 15px;
  width: 200px;
  font-size: 20px;
}
.download .material-symbols-outlined {
  font-size: 36px;
  margin-left: 33px;
}
