footer {
  position: relative;
  height: 250px;
  padding: 2% 10%;
  background-color: #333;
  color: white;
  .mentions {
    position: absolute;
    right: 21%;
    bottom: 3%;
    .mention-legale {
      color: white;
      text-decoration: underline;
    }
  }
  .foot_info {
    font-variation-settings: "FILL" 1;
    position: absolute;
    right: 3%;
    p {
      display: flex;
      align-items: center;
      margin-bottom: 10%;
    }
  }
  img {
    max-width: 22%;
  }
  .copyright {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 2%;
    left: 9%;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    .mentions {
      right: 10%;
    }
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 2% 5%;
    height: 150px;
    font-size: 0.5rem;
    .foot_info {
      p {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
