.grignotages-bg {
  position: relative;
  height: 899px;
  padding-top: 56px;
  background-color: #f9f9f9;
}
.grignotages-bg p {
  text-align: center;
  position: absolute;
  width: 425px;
  left: 50%;
  margin: 0 0 46px calc(425px / -2);
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 5px solid #c4c0ba;
  border-radius: 6px;
}

.grignotages {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 300px);
  top: 232px;
  left: 50%;
  margin-left: calc(300px / -2);
}
.grignotages .grignotage {
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.grignotages .grignotage .desc {
  width: 250px;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: calc(250px / -2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(131, 155, 41, 0.7);
  color: white;
  margin-top: 190px;
  overflow: hidden;
  transition: 0.3s;
}
.grignotages .grignotage:hover .desc {
  height: 190px;
  margin-top: 0;
}
.grignotages .grignotage .desc .inner {
  width: 165px;
}
.grignotages .grignotage img {
  width: 250px;
  height: 190px;
  margin: 0 auto;
  border-radius: 8px;
}
.grignotages .grignotage .grignotage_desc {
  font-size: 23px;
}
.grignotages .grignotage .grignotage_desc .title {
  line-height: 1.4;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.grignotages .grignotage .grignotage_desc .price {
  margin-top: 22px;
  font-size: 18px;
}
