.grignotage {
  height: 92vh;
  background-image: url("../images/mignonettes.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.grignotage .grignotage-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.grignotage .desc {
  position: absolute;
  display: none;
  width: 40%;
  text-align: center;
  top: 10%;
  left: 10%;
  line-height: 1.4;
}
.grignotage .desc h2 {
  margin-top: 6%;
}
.grignotage .first_a button {
  position: absolute;
  bottom: 20vh;
  right: 30vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
  color: white;
}
.grignotage a:last-child button {
  position: absolute;
  bottom: 20vh;
  right: 5vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
  color: white;
}
.grignotage button:hover {
  background-color: rgb(92, 31, 31);
}
.grignotage img {
  position: absolute;
  width: 32%;
  height: 50%;
  top: 5%;
  right: 2%;
  border-radius: 12px;
}
.grignotage .grignotage_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 42px;
  width: 25%;
  right: 6%;
  top: 22%;
  font-family: "futuristic";
}
.grignotage .grignotage_items li {
  text-align: center;
  margin-bottom: 18%;
  line-height: 1.4;
  transition: 0.3s;
}
.grignotage .grignotage_items li:hover {
  color: rgb(70, 164, 77);
}
@media screen and (min-width: 1580px) {
  .grignotage .grignotage_items {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .grignotage {
    height: 70vh;
    background-position: top 85px left 20%;
  }
  .grignotage button {
    left: 20vw;
    bottom: 7vh;
  }
  .grignotage img {
    height: 30%;
    top: 10%;
  }
  .grignotage .grignotage_items {
    font-size: 2rem;
    right: 6%;
    top: 20%;
  }
}
@media screen and (max-width: 767px) {
  .grignotage {
    height: 60vh;
    background-position: top 75px right 75%;
  }
  .grignotage .desc {
    left: 6%;
  }
  .grignotage .desc h1 {
    font-size: 1rem;
  }
  .grignotage button {
    padding: 15px 20px;
    font-size: 0.8rem;
    left: 10vw;
    bottom: 15px;
  }
  .grignotage img {
    width: 40%;
    height: 160px;
  }
  .grignotage .grignotage_items {
    font-size: 0.9rem;
    right: 10%;
    top: 22%;
  }
}
