/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 165px;
  background-color: #f8f9f0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 2;
}
header .header-contact {
  width: 100%;
  height: 66px;
  background-color: #333;
  display: flex;
  color: white;
  font-size: 22px;
}
header .header-contact > .numero {
  display: flex;
  align-items: center;
  margin-left: 25vw;
}
header .header-contact > .numero p {
  margin-left: 15px;
}
header .header-contact > .email {
  margin-left: 155px;
  display: flex;
  align-items: center;
}
header .header-contact > .email p {
  margin-left: 15px;
}
header > .inner {
  height: 99px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: calc(1100px / -2);
}
header .up-menu {
  display: flex;
  position: relative;
  height: 45px;
  z-index: 1;
}
header .up-menu > a {
  width: 115px;
  height: 99px;
  margin: 0 0 0 5vw;
}
header .up-menu img {
  width: 115px;
  height: 99px;
}
header .up-menu .sub-menu {
  position: absolute;
  right: 82px;
  top: 8px;
}
header .up-menu .sub-menu ul {
  display: flex;
  align-items: center;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 16px;
}
header .up-menu .sub-menu ul li {
  margin-left: 28px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
header .up-menu .sub-menu ul li:hover {
  color: #839b29;
}
header .up-menu .sub-menu ul li::before {
  content: "";
  position: absolute;
  left: -12px;
  width: 2px;
  height: 100%;
  border-radius: 10px;
  background-color: #333;
}
header .up-menu .sub-menu ul li:first-child {
  margin-left: 0;
}
header .up-menu .sub-menu ul li:first-child::before {
  display: none;
}
header .up-menu .sub-menu .search {
  position: absolute;
  right: -55px;
  top: 0;
  cursor: pointer;
}
header .up-menu .sub-menu .search input {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  transition: width 0.4s;
}

header .up-menu .sub-menu .search .material-symbols-outlined {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 28px;
}

header .main-menu {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 1100px;
  left: 12%;
}
header .main-menu > li {
  padding: 5px 8px 8px 8px;
  margin-right: 66px;
  transition: 0.4s;
  border-radius: 8px 8px 0 0;
}
header .main-menu > li:last-child {
  position: relative;
  margin-right: 0;
  box-sizing: border-box;
  height: 30px;
  background-color: #839b29;
  border-radius: 8px;
  transition: background-color 0.4s;
}
header .main-menu > li:last-child:hover {
  background-color: #ff4040;
  border-radius: 8px;
}
header .main-menu > li:last-child::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 0;
  bottom: 0px;
  margin: auto 0;
  width: 3px;
  height: 20px;
  background-color: black;
  border-radius: 8px;
}
header .main-menu > li:last-child::after {
  content: "";
  position: absolute;
  right: -18px;
  top: 0;
  bottom: 0px;
  margin: auto 0;
  width: 3px;
  height: 20px;
  background-color: black;
  border-radius: 8px;
}

header .main-menu > li:hover {
  background-color: #839b29;
  cursor: pointer;
}
header .main-menu > li .menu-name {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
header .main-menu li .menu-name.contact {
  font-size: 23px;
  font-family: "Noto Serif", serif;
  color: white;
}

header .main-menu li:hover .menu-name {
  color: white;
}

header .main-menu li .hidden-menu {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  background-color: #f8f9f0;
  box-sizing: border-box;
  border: 1.6px solid #839b29;
  border-radius: 0 0 4px 4px;
  width: 1300px;
  height: 0;
  top: 39px;
  left: -223px;
  cursor: default;
  transition: 0.6s;
}
header .main-menu .NosSaucissons:hover .hidden-menu {
  visibility: visible;
  height: 160px;
}
header .main-menu .NosSelections:hover .hidden-menu {
  visibility: visible;
  height: 160px;
}
header .main-menu li .hidden-menu > .inner {
  width: 1250px;
  height: 100%;
}

header .main-menu li .hidden-menu ul {
  position: absolute;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .main-menu .NosSelections .hidden-menu ul {
  left: 50%;
  height: 80px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto calc(888px / -2);
}
header .main-menu li .hidden-menu .hidden-menu-name {
  position: relative;
  max-width: 180px;
  text-align: center;
  margin-right: 46px;
}
header .main-menu li .hidden-menu .hidden-menu-name:last-child {
  margin-right: 0;
}
header .main-menu .NosSelections .hidden-menu .hidden-menu-name:last-child {
  margin-left: 556px;
}
header .main-menu li .hidden-menu .hidden-menu-name::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  width: 4px;
  height: 18px;
  background-color: #839b29;
  left: -25px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .main-menu .NosSelections .hidden-menu .hidden-menu-name::before {
  height: 10px;
  border-radius: 50%;
  width: 10px;
  left: -297px;
}
header
  .main-menu
  .NosSaucissons
  .hidden-menu
  .hidden-menu-name:first-child::before {
  display: none;
}
header
  .main-menu
  .NosSelections
  .hidden-menu
  .hidden-menu-name:first-child::before {
  display: none;
}
header .main-menu li .hidden-menu .hidden-menu-name p {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  transition: color 0.3s;
}
header .main-menu li .hidden-menu .hidden-menu-name p:hover {
  cursor: pointer;
  color: #a81817;
}
