/* HEADER */
header {
  position: fixed;
  width: 100vw;
  height: 21.5vh;
  background-color: #f8f9f0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
}
header .header-contact {
  width: 100%;
  height: 37%;
  background-color: #333;
  display: flex;
  color: white;
  font-size: 1.5rem;
}
header .header-contact > .numero {
  display: flex;
  align-items: center;
  margin-left: 25vw;
}
header .header-contact > .numero .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
header .header-contact > .numero p {
  margin-left: 15px;
}
header .header-contact > .email {
  margin-left: 11%;
  display: flex;
  align-items: center;
}
header .header-contact > .email p {
  margin-left: 15px;
}
header > .inner {
  width: 80%;
  height: calc(100% - 37%);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: calc(80% / -2);
}
header .up-menu {
  display: flex;
  position: relative;
  height: 45px;
  z-index: 1;
}
header .up-menu > a {
  width: 8%;
  height: 150%;
  margin-left: 5vw;
  margin-top: 0.8%;
}
header .up-menu img {
  max-width: 100%;
  max-height: 200%;
}
header .up-menu .sub-menu {
  position: absolute;
  right: 5%;
  top: 8px;
  display: none;
}
header .up-menu .sub-menu ul {
  display: flex;
  align-items: center;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1rem;
}
header .up-menu .sub-menu ul li {
  margin-left: 28px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
header .up-menu .sub-menu ul li a {
  transition: 0.4s;
}
header .up-menu .sub-menu ul li:hover {
  color: #839b29;
}
header .up-menu .sub-menu ul li:hover a {
  color: #839b29;
}
header .up-menu .sub-menu ul li::before {
  content: "";
  position: absolute;
  left: -12px;
  width: 2px;
  height: 100%;
  border-radius: 10px;
  background-color: #333;
}
header .up-menu .sub-menu ul li:first-child {
  margin-left: 0;
}
header .up-menu .sub-menu ul li:first-child::before {
  display: none;
}
header .up-menu .sub-menu .search {
  position: absolute;
  right: -55px;
  top: 0;
  cursor: pointer;
}
header .up-menu .sub-menu .search input {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  transition: width 0.4s;
}

header .up-menu .sub-menu .search .material-symbols-outlined {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 28px;
}

header .main-menu {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  left: 16%;
}
header .main-menu > li {
  padding: 5px 8px 8px 8px;
  margin-right: 5.5%;
  transition: 0.4s;
  border-radius: 8px 8px 0 0;
}
header .main-menu > li:last-child {
  position: relative;
  margin-right: 0;
  margin-left: 7.5%;
  box-sizing: border-box;
  height: 30px;
  background-color: #839b29;
  border-radius: 8px;
  transition: background-color 0.4s;
}
header .main-menu > li:nth-child(3) {
  display: none;
}
header .main-menu > li:last-child:hover {
  background-color: #ff4040;
  border-radius: 8px;
}
header .main-menu > li:last-child::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 0;
  bottom: 0px;
  margin: auto 0;
  width: 3px;
  height: 20px;
  background-color: black;
  border-radius: 8px;
}
header .main-menu > li:last-child::after {
  content: "";
  position: absolute;
  right: -18px;
  top: 0;
  bottom: 0px;
  margin: auto 0;
  width: 3px;
  height: 20px;
  background-color: black;
  border-radius: 8px;
}

header .main-menu > li:hover {
  background-color: #839b29;
  cursor: pointer;
}
header .main-menu > li .menu-name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
header .main-menu li .menu-name.contact {
  font-size: 1.3rem;
  font-family: "Noto Serif", serif;
  color: white;
}

header .main-menu li:hover .menu-name {
  color: white;
}

header .main-menu li .hidden-menu {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  background-color: #f8f9f0;
  box-sizing: border-box;
  border: 1.6px solid #839b29;
  border-radius: 0 0 4px 4px;
  width: 1300px;
  height: 0;
  top: 100%;
  left: -223px;
  cursor: default;
  transition: 0.6s;
}
header .main-menu .NosSaucissons:hover .hidden-menu {
  visibility: visible;
  height: 160px;
}
header .main-menu .NosSelections:hover .hidden-menu {
  visibility: visible;
  height: 160px;
}
header .main-menu li .hidden-menu > .inner {
  width: 1250px;
  height: 100%;
}

header .main-menu li .hidden-menu ul {
  position: absolute;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .main-menu .NosSelections .hidden-menu ul {
  left: 50%;
  height: 80px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto calc(888px / -2);
}
header .main-menu li .hidden-menu .hidden-menu-name {
  position: relative;
  max-width: 180px;
  text-align: center;
  margin-right: 76px;
}
header .main-menu li .hidden-menu .hidden-menu-name:last-child {
  margin-right: 0;
}
header .main-menu .NosSelections .hidden-menu .hidden-menu-name:last-child {
  margin-left: 556px;
}
header .main-menu li .hidden-menu .hidden-menu-name::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #839b29;
  left: -35px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .main-menu .NosSelections .hidden-menu .hidden-menu-name::before {
  height: 10px;
  border-radius: 50%;
  width: 10px;
  left: -297px;
}
header
  .main-menu
  .NosSaucissons
  .hidden-menu
  .hidden-menu-name:first-child::before {
  display: none;
}
header
  .main-menu
  .NosSelections
  .hidden-menu
  .hidden-menu-name:first-child::before {
  display: none;
}
header .main-menu li .hidden-menu .hidden-menu-name p {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  transition: color 0.3s;
}
header .main-menu li .hidden-menu .hidden-menu-name p:hover {
  cursor: pointer;
  color: #a81817;
}

/* ipad */
@media screen and (max-width: 1024px) {
  header {
    height: 14vh;
  }
  header .header-contact {
    font-size: 1rem;
  }
  header .header-contact .material-symbols-outlined {
    font-size: 1rem;
  }
  header .up-menu > a {
    width: 16%;
  }
  header .up-menu > a img {
    max-width: 100%;
  }
  header .up-menu .sub-menu ul {
    font-size: 0.7rem;
  }
  header .main-menu > li .menu-name {
    font-size: 1rem;
  }
  header .main-menu li .menu-name.contact {
    font-size: 0.8rem;
  }
  header .main-menu li .hidden-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header .header-contact {
    font-size: 0.6rem;
  }
  header .header-contact > .numero {
    margin-left: 12vw;
  }
  header .header-contact .material-symbols-outlined {
    font-size: 0.6rem;
  }
  header .up-menu {
    height: 24px;
  }
  header .up-menu .sub-menu ul {
    font-size: 0.4rem;
  }
  header .up-menu .sub-menu ul li {
    margin-left: 8px;
  }
  header .up-menu .sub-menu ul li::before {
    display: none;
  }
  header .main-menu {
    left: 10%;
  }
  header .main-menu > li .menu-name {
    font-size: 0.6rem;
  }
  header .main-menu li .menu-name.contact {
    font-size: 0.5rem;
  }
  header .main-menu > li:last-child::before,
  header .main-menu > li:last-child::after {
    display: none;
  }
  header .main-menu > li {
    padding: 2px 3px 3px 3px;
  }
  header .main-menu > li:last-child {
    height: 20px;
  }
}
