.histoire {
  position: relative;
  white-space: pre-line;
  background-color: #f8fff5;
}
.histoire .histoire-desc {
  position: relative;
  height: 280px;
  margin-top: 99px;
  background-image: url("../images/atelier-de-fabrication-Régis-Bozon-©OT-Thônes-CDV-30-1200x800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #f4ead8;
}
.histoire .histoire-desc .histoire-desc-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.histoire .histoire-desc h1 {
  position: absolute;
  bottom: 126px;
  left: 50%;
  width: 365px;
  text-align: center;
  margin-left: calc(365px / -2);
}
.histoire .years {
  position: absolute;
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0 0 8px 8px;
  left: 50%;
  margin-left: calc(850px / -2);
}
.histoire .years.fixed {
  background-color: #f8f9f0;
  color: #333;
}
.histoire .years.fixed .no-histoire {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed .breche {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed .monts {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed .no-system {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed .no-plan {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed > ul li:hover {
  background-color: #839b29;
  color: #f8f9f0;
  border-radius: 0;
}
.histoire .years.fixed > ul li::after {
  background-color: #839b29;
}
.histoire .years > ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.histoire .years > ul li {
  font-size: 21px;
  margin-right: 48px;
  padding: 20px 15px;
  border-radius: 0 0 8px 8px;
  position: relative;
}
.histoire .years > ul li::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 30%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #333;
  border-radius: 8px;
  right: -21px;
}
.histoire .years > ul li:last-child::after {
  display: none;
}
.histoire .years > ul li:hover {
  background-color: #f8f9f0;
  color: #333;
  border-radius: 0;
  cursor: pointer;
}
.histoire .years > ul li:last-child {
  margin-right: 0;
  padding-right: 58px;
}
.histoire .histoire-content {
  height: 700px;
}

.histoire .histoire-content.notre_system {
  background-color: orangered;
}
.histoire .histoire-content.notre_plan {
  background-color: royalblue;
}
