.how_to_order {
  margin-top: 99px;
  white-space: pre-line;
  position: relative;
}
.how_to_order .astuce {
  width: 1200px;
  margin: 0 auto;
}
.how_to_order .first {
  margin-top: 156px;
  width: 100%;
}
.how_to_order .first p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .first .first_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_order .first .first_flex img {
  width: 246px;
  height: 246px;
}
.how_to_order .first .first_flex .first_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
}
.how_to_order .first .first_flex .first_desc span:first-child {
  font-size: 55px;
}
.how_to_order .first .first_flex .first_desc span:nth-child(2) {
  color: #839b29;
  font-size: 32px;
  font-weight: 700;
}
.how_to_order .second {
  margin-top: 156px;
  width: 100%;
}
.how_to_order .second p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .second .second_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_order .second .second_flex img {
  width: 646px;
  height: 346px;
}
.how_to_order .second .second_flex .second_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
  margin-left: 66px;
}
.how_to_order .second .second_flex .second_desc span:first-child {
  font-size: 55px;
}
.how_to_order .second .second_flex .second_desc span:nth-child(3) {
  color: #839b29;
  font-size: 27px;
  font-weight: 700;
}
.how_to_order .third {
  margin-top: 156px;
  width: 100%;
}
.how_to_order .third p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .third .third_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_order .third .third_flex img {
  width: 646px;
  height: 346px;
}
.how_to_order .third .third_flex .third_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
  margin-left: 66px;
}
.how_to_order .third .third_flex .third_desc span:first-child {
  font-size: 55px;
}
.how_to_order .third .third_flex .third_desc span:nth-child(3) {
  color: #839b29;
  font-size: 27px;
  font-weight: 700;
}
.how_to_order .forth {
  margin-top: 156px;
  width: 100%;
}
.how_to_order .forth p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .forth .forth_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how_to_order .forth .forth_flex img {
  width: 646px;
  height: 346px;
}
.how_to_order .forth .forth_flex .forth_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
  margin-left: 66px;
}
.how_to_order .forth .forth_flex .forth_desc span:first-child {
  font-size: 55px;
}
.how_to_order .forth .forth_flex .forth_desc span:nth-child(4) {
  color: #839b29;
  font-size: 27px;
  font-weight: 700;
}
.how_to_order .fifth {
  margin-top: 156px;
  width: 100%;
}
.how_to_order .fifth p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .fifth .fifth_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_order .fifth .fifth_flex img {
  width: 736px;
  height: 436px;
}
.how_to_order .fifth .fifth_flex .fifth_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
  margin-left: 66px;
}
.how_to_order .fifth .fifth_flex .fifth_desc span:first-child {
  font-size: 55px;
}
.how_to_order .fifth .fifth_flex .fifth_desc span:nth-child(3) {
  color: #839b29;
  font-size: 27px;
  font-weight: 700;
}
.how_to_order .sixth {
  margin: 156px 0;
  width: 100%;
}
.how_to_order .sixth p {
  font-size: 40px;
  margin-bottom: 56px;
  margin-left: 46px;
}
.how_to_order .sixth .sixth_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_order .sixth .sixth_flex .sixth_desc {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  text-align: center;
  margin-left: 66px;
  margin-bottom: 156px;
}
.how_to_order .sixth .sixth_flex .sixth_desc span:first-child {
  font-size: 55px;
}
.how_to_order .sixth .sixth_flex .sixth_desc span:last-child {
  color: #839b29;
  font-size: 27px;
  font-weight: 700;
}
.how_to_order button {
  position: absolute;
  width: 656px;
  height: 66px;
  left: 50%;
  margin-left: calc(656px / -2);
  bottom: -55px;
}
