.jambon {
  height: 115vh;
  background-image: url("../images/031_SalaisonsCros-FranckTourneretPhotographe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.jambon .jambon-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.jambon .desc {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 5%;
  left: 1%;
}
.jambon .desc h1 {
  font-size: 3rem;
}
.jambon button {
  position: absolute;
  bottom: 40vh;
  right: 32vw;
  background-color: rgb(25, 84, 46);
  padding: 20px 15px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.jambon button:hover {
  background-color: rgb(21, 62, 21);
}
.jambon a button {
  color: white;
}
.jambon img {
  position: absolute;
  width: 28%;
  height: 520px;
  top: 3%;
  right: 2%;
  border-radius: 12px;
}
.jambon .jambon_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 22px;
  width: 25%;
  right: 3%;
  top: 5%;
  font-family: "Sofia", cursive;
}
.jambon .jambon_items li {
  text-align: center;
  margin-bottom: 14%;
  line-height: 1.2;
}
@media screen and (min-width: 1580px) {
  .jambon .jambon_items {
    font-size: 24px;
  }
  .jambon img {
    height: 560px;
  }
}
@media screen and (max-width: 1024px) {
  .jambon {
    height: 75vh;
  }
  .jambon button {
    width: 30%;
    right: 2vw;
    bottom: 3vh;
  }
  .jambon img {
    width: 30%;
    height: 460px;
  }
  .jambon .jambon_items {
    font-size: 16px;
    right: 4%;
    top: 8%;
  }
  .jambon .jambon_items li {
    margin-bottom: 18%;
  }
}
@media screen and (max-width: 767px) {
  .jambon {
    height: 70vh;
  }
  .jambon .desc {
    left: 6%;
  }
  .jambon .desc h1 {
    font-size: 1rem;
  }
  .jambon button {
    padding: 5px 8px;
    font-size: 0.8rem;
    bottom: 2vh;
  }
  .jambon img {
    width: 40%;
    height: 400px;
  }
  .jambon .jambon_items {
    width: 30%;
    font-size: 14px;
    right: 8%;
    top: 8%;
  }
}
