.lyonnais {
  position: relative;
  height: 700px;
  background-image: url("../images/159050523548392000-arbresle-ouest-lyonnais-monts-beaujolais-pierres-dorees-nature-ot-pays-de-l-arbresle-emmanuelle-guellec.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.lyonnais img {
  position: absolute;
  left: 11%;
  border-radius: 16px;
  top: 182px;
  width: 290px;
  height: 390px;
  opacity: 0;
  transform: translateX(-150px);
}
.lyonnais .lyonnais-title {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  top: 142px;
  right: 18vw;
  border-radius: 8px;
  width: 540px;
  height: 70px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 32px;
  opacity: 0;
  transform: translateX(150px);
}
.lyonnais .lyonnais-title p {
  font-family: "Alkatra", cursive;
  position: absolute;
  left: 50%;
  height: 32px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto calc(424px / -2);
}
.lyonnais .lyonnais-desc {
  position: absolute;
  right: 14vw;
  bottom: 50px;
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  opacity: 0;
  transform: translateX(150px);
  width: 220px;
  height: 360px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
}
.lyonnais .lyonnais-desc .saveur {
  font-weight: 700;
}
.lyonnais .lyonnais-desc p {
  margin-top: 36px;
  font-size: 22px;
}
