.nossaucissons-desc {
  margin-top: 99px;
  height: 380px;
  background-image: url("../images/atelier-de-fabrication-Régis-Bozon-©OT-Thônes-CDV-30-1200x800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.nossaucissons-desc .desc-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.nossaucissons-desc .desc {
  position: absolute;
  width: 655px;
  text-align: center;
  top: 86px;
  left: 50%;
  margin-left: calc(655px / -2);
}

.nossaucissons-desc .desc h2 {
  margin-top: 32px;
}
.nossaucissons-desc .btn-group {
  position: absolute;
  bottom: 0;
  width: 1320px;
  left: 50%;
  margin-left: calc(1320px / -2);
  font-family: "Noto Serif", serif;
  background-color: #f8f9f0;
}
.nossaucissons-desc .btn-group .btn {
  background-color: #f8f9f0;
  color: #333;
  border-color: #f8f9f0;
  font-size: 20px;
  width: 220px;
}
.nossaucissons-desc .btn-group .btn:hover {
  background-color: #839b29;
  border-color: #839b29;
  color: white;
}
.nossaucissons-desc .btn-group .btn:active {
  background-color: #5e6f1f;
  color: white;
  border-color: #5e6f1f;
}
