.nosselection-desc {
  height: 77vh;
  background-image: url("../images/031_SalaisonsCros-FranckTourneretPhotographe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.nosselection-desc .desc-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.nosselection-desc .desc {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 5.5vh;
  left: 1%;
}

.nosselection-desc .btn-group {
  position: absolute;
  bottom: 0px;
  width: 30%;
  left: 50%;
  margin-left: calc(30% / -2);
  font-family: "Noto Serif", serif;
  background-color: #f8f9f0;
}
.nosselection-desc .btn-group a {
  width: 50%;
}
.nosselection-desc .btn-group .btn {
  background-color: #f8f9f0;
  color: #333;
  border-color: #f8f9f0;
  font-size: 20px;
  width: 100%;
}
.nosselection-desc .btn-group .btn:hover {
  background-color: #839b29;
  border-color: #839b29;
  color: white;
}
.nosselection-desc .btn-group .btn:active {
  background-color: #5e6f1f;
  color: white;
  border-color: #5e6f1f;
}
@media screen and (max-width: 1024px) {
  .nosselection-desc {
    height: 70vh;
  }
  .nosselection-desc .desc h1 {
    top: 10vh;
    font-size: 2rem;
  }
  .nosselection-desc .btn-group .btn {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .nosselection-desc .desc h1 {
    font-size: 1.5rem;
  }
  .nosselection-desc .btn-group .btn {
    font-size: 0.6rem;
  }
}
