.nossaucissons-desc {
  height: 88vh;
  background-image: url("../images/sechoir_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom -55px right;
  color: var(--font-color);
  position: relative;
  white-space: pre-line;
}
.nossaucissons-desc.nossaucissons-mobile {
  height: 70vh;
  background-image: url("../images/sechoir_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -45px right;
  background-attachment: fixed;
  color: var(--font-color);
  position: relative;
  white-space: pre-line;
}
.nossaucissons-desc .desc-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.nossaucissons-desc .desc {
  position: absolute;
  width: 50%;
  text-align: center;
  top: 16.5vh;
  left: 50%;
  margin-left: calc(50% / -2);
}

.nossaucissons-desc .desc h2 {
  margin-top: 5%;
}
.nossaucissons-desc .btn-group {
  position: absolute;
  width: 80%;
  left: 50%;
  margin-left: calc(80% / -2);
  bottom: 8px;
  font-family: "Noto Serif", serif;
  background-color: var(--font-color);
}
.nossaucissons-desc .btn-group a {
  width: 20%;
}
.nossaucissons-desc .btn-group .btn {
  background-color: var(--font-color);
  color: #333;
  border-color: var(--font-color);
  font-size: 20px;
  width: 100%;
}
.nossaucissons-desc .btn-group .btn:hover {
  background-color: #839b29;
  border-color: #839b29;
  color: white;
}
.nossaucissons-desc .btn-group .btn:active {
  background-color: #5e6f1f;
  color: white;
  border-color: #5e6f1f;
}
@media screen and (max-width: 1024px) {
  .nossaucissons-desc {
    height: 50vh;
    background-position: bottom center;
  }
  .nossaucissons-desc.nossaucissons-mobile {
    background-position: bottom 75px center;
  }
  .nossaucissons-desc .desc {
    top: 10vh;
  }
  .nossaucissons-desc .btn-group .btn {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .nossaucissons-desc {
    background-position: bottom center;
  }
  .nossaucissons-desc.nossaucissons-mobile {
    background-position: bottom 105px center;
  }
  .nossaucissons-desc .desc h1 {
    font-size: 1.5rem;
  }
  .nossaucissons-desc .desc h2 {
    font-size: 1rem;
  }
  .nossaucissons-desc .btn-group .btn {
    font-size: 0.4rem;
  }
}
