.notre_histoire {
  height: 700px;
  background-color: #333;
  color: #f8f9f0;
}
.notre_histoire .notre_histoire_left_right {
  display: flex;
  position: relative;
}
.notre_histoire .notre_histoire_left_right .notre_histoire_left {
  position: absolute;
  top: 65px;
  left: 6.5vw;
}
.notre_histoire .notre_histoire_left_right .notre_histoire_left img {
  width: 580px;
  height: 380px;
  margin-top: 35px;
  border-radius: 12%;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc {
  margin-top: 28px;
  font-size: 18px;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p1 {
  display: flex;
  margin-bottom: 25px;
  position: relative;
  color: #ffe39e;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p1
  p {
  margin-right: 176px;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p1
  p:last-child {
  position: absolute;
  right: -155px;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p2 {
  display: flex;
  position: relative;
  line-height: 2;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p2
  p:nth-child(2) {
  margin-left: 65px;
  position: relative;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p2
  p:nth-child(2)
  span {
  position: absolute;
  display: block;
  width: 296px;
  text-align: center;
  left: 0;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_left
  .notre_histoire_left_img_desc
  .notre_histoire_left_img_desc_p2
  p:nth-child(3) {
  position: absolute;
  top: 0;
  right: 45px;
}
.notre_histoire .notre_histoire_left_right .notre_histoire_right {
  position: absolute;
  right: 5vw;
  top: 135px;
}
.notre_histoire .notre_histoire_left_right .notre_histoire_right > p {
  font-size: 56px;
  color: #99d188;
  text-align: center;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_right
  .notre_histoire_right-desc {
  margin-top: 56px;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_right
  .notre_histoire_right-desc
  h2 {
  margin-bottom: 32px;
  color: #99d188;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_right
  .notre_histoire_right-desc
  h3 {
  font-size: 20px;
  font-family: "Noto Serif", serif;
  line-height: 1.7;
  text-align: center;
}
.notre_histoire
  .notre_histoire_left_right
  .notre_histoire_right
  .notre_histoire_right-desc
  h3
  span {
  color: #99d188;
}
