.order_desc {
  height: 380px;
  background-image: url("../images/JAMBON-CRU-ARTICLE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.order_desc .desc_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.order_desc .desc {
  position: absolute;
  width: 855px;
  text-align: center;
  top: 156px;
  left: 50%;
  margin-left: calc(855px / -2);
}
