.order_success {
  background-color: #486541;
  margin-top: 165px;
  height: 92rem;
  white-space: pre-line;
  font-size: 5rem;
}
.order_success .merci {
  width: 11em;
  margin: 0 auto 135px auto;
  padding-top: 89px;
  text-align: center;
  color: #f8f9f0;
}
.order_success .merci h1 {
  font-size: 0.8em;
}
.order_success .merci h2 {
  margin-top: 65px;
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.order_success .commande_info {
  width: 51rem;
  height: 59rem;
  background-color: #f8f9f0;
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
  font-family: "Noto Serif", serif;
}
.order_success .commande_info p {
  position: absolute;
  font-size: 31px;
  color: #d37c75;
  font-weight: 700;
  top: 69px;
  left: 50%;
  margin-left: calc(542px / -2);
}
.order_success .commande_info .commande_info_ul {
  position: absolute;
  top: 184px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.order_success .commande_info ul {
  font-size: 22px;
}
.order_success .commande_info ul li {
  margin-bottom: 55px;
  text-align: center;
}
.order_success .commande_info ul li:last-child {
  margin-bottom: 0;
}
.order_success .commande_info ul li span {
  font-size: 16px;
}
.order_success .commande_info .download {
  position: absolute;
  bottom: 65px;
  margin: 0;
  left: 50%;
  margin-left: calc(300px / -2);
  background-color: #fb6161;
  border-radius: 4px;
  color: #fcfedc;
}
.order_success .commande_info .download .desc {
  font-size: 23px;
}
