/* PRESENT */
.present {
  position: relative;
  height: 98vh;
  background-image: url("../images/essay\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom 70% right;
  white-space: pre-line;
}
.present .present-cover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.present .present-logo {
  position: absolute;
  max-width: 15%;
  left: 2vw;
  top: 1%;
}
.present .logo-div {
  position: absolute;
  opacity: 0;
  transform: translateX(20px);
  display: flex;
  width: 15%;
  right: 5vw;
  justify-content: center;
  bottom: 165px;
}

.present .logo-artisan {
  width: 70%;
}

.present .present-desc {
  width: 45%;
  position: absolute;
  bottom: 20%;
  left: 52%;
  margin-left: calc(45% / -2);
}
.present .present-desc h1 {
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.4;
}
.present .present-desc h1 > p {
  color: #99d188;
}
/* .present .present-desc .btn {
  position: absolute;
  bottom: -78px;
  left: 50%;
  margin-left: calc(126px / -2);
} */
@media screen and (max-width: 1024px) {
  .present {
    height: 72vh;
    background-position: bottom 70% right 20%;
  }
  .present .logo-div {
    bottom: 5%;
  }
  .present .present-desc {
    bottom: 5%;
  }
  .present .present-desc h1 {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 767px) {
  .present {
    height: 58vh;
    background-position: bottom 130px right 60%;
  }
  .present .present-desc h1 {
    font-size: 1rem;
  }
}
