/* PRESENT */
.present {
  position: relative;
  height: 98vh;
  background-image: url("../images/page_daccueil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: bottom 35% right; */
  background-position: bottom 40% right;
  white-space: pre-line;
}
.present .present-cover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
.present .present-logo {
  position: absolute;
  max-width: 15%;
  left: 2vw;
  top: 1%;
}
.present .logo-div {
  position: absolute;
  opacity: 0;
  transform: translateX(20px);
  display: flex;
  width: 15%;
  right: 5vw;
  justify-content: center;
  bottom: 165px;
}

.present .logo-artisan {
  width: 70%;
}

.present .present-desc {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 23%;
  left: 2%;
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  box-sizing: border-box;
  padding: 0 10px;
}

/* .present .present-desc .btn {
  position: absolute;
  bottom: -78px;
  left: 50%;
  margin-left: calc(126px / -2);
} */
@media screen and (max-width: 1024px) {
  .present {
    height: 72vh;
    background-size: 260%;
    background-position: bottom left 40%;
  }
  .present .logo-div {
    bottom: 5%;
  }
  .present .present-desc {
    bottom: 5%;
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 767px) {
  .present {
    height: 58vh;
    background-size: 270%;
    background-position: bottom 180px left 40%;
  }
  .present .present-desc {
    font-size: 0.8rem;
  }
}
