/* PROMOTION */
.promotion {
  height: 900px;
  position: relative;
  padding-top: 40px;
  background-color: rgb(239, 236, 236);
  white-space: pre-line;
  box-shadow: 0 -6px 3px rgba(0, 0, 0, 0.4);
}
.promotion .promotion-title {
  position: relative;
  width: 539px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  color: #436049;
}
.promotion .promotion-title p {
  font-weight: 700;
  font-size: 38px;
}

.promotion .promotion-title .promotion-title_bar {
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: calc(589px / -2);
  border-radius: 8px;
  width: 589px;
  height: 4px;
  background-color: #a81817;
}
.promotion .swiper {
  width: 60vw;
  height: 700px;
  border-radius: 12px;
}
.promotion .swiper .swiper-slide {
  opacity: 0.3;
  transition: 0.4s;
}
.promotion .swiper .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
/* .promotion .swiper .swiper-button-next {
  opacity: 0;
  transform: translateX(150px);
  position: absolute;
  width: 45px;
  height: 56px;
  right: 522px;
  top: 365px;
  background-image: url("../images/keyboard_double_arrow_right_FILL1_wght400_GRAD0_opsz48.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s;
}
.promotion .swiper:hover .swiper-button-next {
  opacity: 1;
  transform: translateX(0);
}
.promotion .swiper .swiper-button-prev {
  opacity: 0;
  transform: translateX(-150px);
  position: absolute;
  left: 522px;
  top: 365px;
  width: 45px;
  height: 56px;
  background-image: url("../images/keyboard_double_arrow_left_FILL1_wght400_GRAD0_opsz48.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s;
}
.promotion .swiper:hover .swiper-button-prev {
  opacity: 1;
  transform: translateX(0);
}
*/

.promotion .swiper .swiper-button-prev,
.promotion .swiper .swiper-button-next {
  display: none;
}
