.specialite {
  margin-top: 165px;
  height: 110vh;
  background-image: url("../images/IMG_4145.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top -15% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.specialite .specialite-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.specialite .desc {
  position: absolute;
  width: 655px;
  text-align: center;
  top: 86px;
  left: 10%;
}
.specialite .desc h2 {
  margin-top: 32px;
}
.specialite button {
  position: absolute;
  bottom: 28vh;
  left: 35vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.specialite button:hover {
  background-color: rgb(92, 31, 31);
}
.specialite a button {
  color: white;
}
.specialite img {
  position: absolute;
  width: 530px;
  height: 630px;
  top: 5%;
  right: 35px;
  border-radius: 12px;
}
.specialite .specialite_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 37px;
  right: 88px;
  top: 105px;
  font-family: "futuristic";
}
.specialite .specialite_items li {
  text-align: center;
  width: 405px;
  margin-bottom: 55px;
  line-height: 1.2;
  transition: 0.3s;
}
.specialite .specialite_items li:hover {
  color: rgb(70, 164, 77);
}
.specialite .pagination {
  position: absolute;
  right: 177px;
  top: 625px;
  font-size: 24px;
}
.specialite .pagination li {
  margin-left: 15px;
}
.specialite .pagination li.selected a {
  color: #6ca7cf;
}
.specialite .pagination li a {
  color: rgb(236, 236, 236);
}
.specialite .pagination li a:hover {
  color: #64b55e;
}
.specialite .pagination li:first-child {
  margin-left: 0;
}
