.terrine {
  margin-top: 165px;
  height: 98vh;
  background-image: url("../images/JAMBON-CRU-ARTICLE.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top -30% right;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.terrine .terrine-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.terrine .desc {
  position: absolute;
  width: 655px;
  text-align: center;
  top: 86px;
  left: 10%;
}
.terrine .desc h2 {
  margin-top: 32px;
}
.terrine button {
  position: absolute;
  bottom: 115px;
  left: 556px;
  background-color: rgb(25, 84, 46);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.terrine button:hover {
  background-color: rgb(21, 62, 21);
}
.terrine a button {
  color: white;
}
.terrine img {
  position: absolute;
  width: 600px;
  height: 460px;
  top: 5%;
  right: 35px;
}
.terrine .terrine_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 42px;
  right: 135px;
  top: 195px;
  font-family: "futuristic";
}
.terrine .terrine_items li {
  text-align: center;
  width: 405px;
  margin-bottom: 55px;
  line-height: 1.2;
  transition: 0.3s;
}
.terrine .terrine_items li:hover {
  cursor: pointer;
  color: rgb(70, 164, 77);
}
