.traditionnelle {
  margin-top: 165px;
  height: 120vh;
  background-image: url("../images/IMG_4165.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top 5% right 0;
  color: #f4ead8;
  position: relative;
  white-space: pre-line;
}
.traditionnelle .traditionnelle-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.traditionnelle .desc {
  position: absolute;
  width: 655px;
  text-align: center;
  top: 86px;
  left: 10%;
}
.traditionnelle .desc h2 {
  margin-top: 32px;
}
.traditionnelle button {
  position: absolute;
  bottom: 40vh;
  left: 35vw;
  background-color: rgb(151, 45, 45);
  padding: 25px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 3px black;
  transition: 0.4s;
}
.traditionnelle button:hover {
  background-color: rgb(92, 31, 31);
}
.traditionnelle a button {
  color: white;
}
.traditionnelle img {
  position: absolute;
  width: 500px;
  height: 680px;
  top: 5%;
  right: 35px;
  border-radius: 12px;
}
.traditionnelle .traditionnelle_items {
  position: absolute;
  color: rgb(236, 236, 236);
  font-size: 37px;
  right: 85px;
  top: 105px;
  font-family: "futuristic";
}
.traditionnelle .traditionnelle_items li {
  text-align: center;
  width: 405px;
  margin-bottom: 55px;
  line-height: 1.2;
  transition: 0.3s;
}
.traditionnelle .traditionnelle_items li:hover {
  color: rgb(70, 164, 77);
}
