.userInfo {
  height: 115vh;
  padding-top: 1px;
  .title {
    width: 70%;
    font-size: 2.5rem;
    text-align: center;
    margin: 56px auto;
    font-family: "Noto Serif", serif;
    color: rgb(23, 23, 82);
    font-weight: 700;
  }
  .userInfo_section {
    position: relative;
    width: 70%;
    padding: {
      left: 5%;
      right: 5%;
      top: 3%;
      bottom: 14%;
    }
    margin: {
      top: 56px;
      left: auto;
      right: auto;
      bottom: 0;
    }
    background-color: var(--contact-background-color);
    border-radius: 12px;
    p {
      font-size: 2rem;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
    }
    > button {
      position: absolute;
      width: 220px;
      font-size: 1.5rem;
      bottom: 2%;
      left: 50%;
      margin-left: calc(220px / -2);
      padding: 10px 15px;
      background-color: rgb(151, 45, 45);
      border-radius: 12px;
      box-shadow: 1px 1px 3px black;
      color: white;
      border: none;
      transition: 0.4s;
      &:hover {
        background-color: rgb(92, 31, 31);
      }
    }
  }
  .userInfo_edit_section {
    position: relative;
    width: 70%;
    padding: {
      left: 5%;
      right: 5%;
      top: 3%;
      bottom: 3%;
    }
    margin: {
      top: 56px;
      left: auto;
      right: auto;
      bottom: 0;
    }
    background-color: var(--contact-background-color);
    border-radius: 12px;
    input {
      height: 45px;
      font-size: 1.2rem;
    }
    .nom-prenom {
      display: flex;
      width: 100%;
      .mb-3 {
        width: 35%;
        &:last-child {
          width: 55%;
          margin-left: 10%;
        }
      }
    }
    button {
      position: absolute;
      right: 20%;
      &:last-child {
        right: 10%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .userInfo {
    height: 950px;
    .title {
      width: 80%;
    }
    .userInfo_section {
      width: 80%;
      padding-bottom: 25%;
      p {
        font-size: 1.8rem;
      }
    }
    .userInfo_edit_section {
      width: 80%;
      padding-bottom: 10%;
      button {
        right: 30%;
        bottom: 5%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .userInfo {
    background-color: white;
    height: 650px;
    .title {
      font-size: 1.5rem;
      margin: 46px auto;
    }
    .userInfo_section {
      margin-top: 46px;
      padding-bottom: 35%;
      p {
        font-size: 1rem;
        margin-top: 30px;
      }
      > button {
        position: absolute;
        width: 180px;
        font-size: 1rem;
        margin-left: calc(110px / -2);
      }
    }
    .userInfo_edit_section {
      margin-top: 46px;
      padding-bottom: 20%;
      width: 90%;
      input {
        height: 35px;
        font-size: 1rem;
      }
      button {
        bottom: 2%;
        right: 45%;
      }
    }
  }
}
