.histoire-content.mont_du_lyonnais {
  height: 750px;
  position: relative;
  display: flex;
  background-color: #333;
  color: #f8f9f0;
}
.histoire-content.mont_du_lyonnais .titre-desc {
  position: absolute;
  left: 8vw;
  top: 58px;
  width: 753px;
}
.histoire-content.mont_du_lyonnais .titre-desc .title {
  text-align: center;
  font-size: 38px;
}
.histoire-content.mont_du_lyonnais .titre-desc .desc {
  position: absolute;
  top: 126px;
  font-size: 20px;
}
.histoire-content.mont_du_lyonnais .titre-desc img {
  position: absolute;
  width: 536px;
  height: 336px;
  top: 456px;
  z-index: 1;
}
.histoire-content.mont_du_lyonnais .france-carte {
  position: absolute;
  right: 5.5vw;
  top: 185px;
  width: 640px;
  height: 480px;
  background-image: url("../images/france-carteavecline.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
